.pageWrapper {
  max-width: 440px;
  margin: 100px auto;

  input {
    max-width: 408px;
    border-radius: var(--main-border-radius);
    outline: none;
    border: 3px solid var(--primary-color);
    height: 55px;
    padding-left: 25px;
    width: 100%;

    &:hover {
      border: 3px solid var(--primary-color-hover);
    }

    &:active, &:focus {
      border: 3px solid var(--primary-color-active);
    }

    &::placeholder {
      color: darkslategray;
      font-size: 14px;
      font-weight: 600;
      transform: translateX(-25px);
    }
  }

  .privacyInfo {
    display: flex;
    background: var(--privacy-info-color);
    border-radius: 15px;
    margin: 170px 0 35px;
    gap: 5px;
    font-size: 12px;
    text-align: left;
    font-weight: 700;
    padding: 10px;
    color: var(--gray-color);
    user-select: none;

    svg {
      font-size: 30px;
    }
  }

  button {
    background: var(--primary-color);
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    gap: 18px;
    
    &:hover {
      background: var(--primary-color-hover);
    }

    &:active, &:focus {
      background: var(--primary-color-active);
    }

    &:disabled {
      cursor: default;
      opacity: 0.4;
      pointer-events: none;
    }
  }
}

.warning {
  color: var(--warning-color);
  margin-top: 10px;
}