.genderBox {
  border: 10px solid var(--white-color);
  background: var(--white-color);
  border-radius: var(--main-border-radius);
  overflow: hidden;
  display: flex;
  gap: 12px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  user-select: none;

  &:hover {
    opacity: 0.7;
  }

  &:first-child button {
    background: var(--secondary-color);

    &:hover {
      background: var(--secondary-color-hover);
    }

    &:active, &:focus {
      background: var(--secondary-color-active);
    }
  }

  &:last-child button {
    background: var(--primary-color);

    &:hover {
      background: var(--primary-color-hover);
    }

    &:active, &:focus {
      background: var(--primary-color-active);
    }
  }

  button {
    height: 70px;
    font-size: 20px;
    font-weight: 700;
    gap: 18px;
  }

  img {
    border-radius: var(--main-border-radius);
    width: 100%;
    height: 100%;
  }

  h3 {
    margin: 0;
  }
}

article {
  cursor: pointer;

  &:hover img {
    opacity: 0.7;
    transform: scale(1.05);
    transition: 0.7s ease;
    object-fit: cover;
  }

  img {
    transition: transform 1s ease, opacity 1s ease;
  }

  &:hover h3 {
    opacity: 0.7;
  }
}
