:root {
  --primary-color: limegreen;
  --primary-color-hover: #28b428;
  --primary-color-active: forestgreen;

  --secondary-color: blueviolet;
  --secondary-color-hover: #6916b6;
  --secondary-color-active: #5d10a4;

  --white-color: #FFFFFF;
  --gray-color: gray;
  --warning-color: red;
  --privacy-info-color: bisque;

  --main-border-radius: 30px;

  --primary-display--width: 900px;
  --secondary-display--width: 420px;
}